{% extends "layout.html" %}

{% block main %}
  <div class="media">
    <div class="body">
      <h1>Administration - Items Database</h1>
      <h2>{{ name }}</h2>
      <div class="form">
        <h3>Update Items Database:</h3>
        <form action="/admin/items" enctype="multipart/form-data" method="post">
          Item Data:
          <input type="file" name="item_db" accept=".json" class="file" ><br>
          <input type="submit" value="Submit" class="btn">
        </form>
      </div>
    </div>
  </div>
  
{% endblock %}
